
body{
  background-color: #a290d6;
}
p{
  color:purple;
  background-color: #dae4f7;
  font-size: 70px;
  font-style: italic;
  font-stretch: expanded;
}

h1{
  color:white;
  font-size: 50px;
  font-style: oblique;
}

p1{
  color:white;
  font-size: 30px;
}

h2{
  color:white;
  font-size: 50px;
  font-style: oblique;
}

p2{
  color:white;
  font-size: 30px;
}

h3{
  color:white;
  font-size: 50px;
  font-style: oblique;
}

p3{
  color:white;
  font-size: 30px;
}

h4{
  color:white;
  font-size: 30px;
  font-style: oblique;
}

p4{
  color:white;
}


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
